<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    {{ content_for_header }}
  </head>
  
  <body>

    <h1>This is a blank test layout</h1>

    {{ content_for_layout }}

  </body>
</html>