<div>
  <div class="js-react-product-lister product-lister">
    <div>
      <h2>Product Lister</h2>
    </div>
  </div>

  <div class="js-react-product-lister-with-reducer product-lister">
    <div>
      <h2>Product Lister with reducer</h2>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Lister",
  "settings": [
    {
      "type": "header",
      "content": "Display a selectable product list"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Product Lister"
    }
  ]
}
{% endschema %}