<style>

</style>
<div class="flex-container">

  <div class="flex-item">
    <h2>Hi! Section slot 1</h2>
  </div>

  <div class="flex-item">
    <h2>Hi! Section slot 2</h2>

    {% section 'main-product' %}
  </div>
</div>
